In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
    --------------------------------------- 0.3/16.1 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.1 MB 2.5 MB/s eta 0:00:06
   --- ------------------------------------ 1.3/16.1 MB 2.5 MB/s eta 0:00:06
   ---- ----------------------------------- 1.8/16.1 MB 2.5 MB/s eta 0:00:06
   ----- ---------------------------------- 2.4/16.1 MB 2.5 MB/s eta 0:00:06
   ------- -------------------------------- 2.9/16.1 MB 2.5 MB/s eta 0:00:06
   -------- ------------------------------- 3.4/16.1 MB 2.4 MB/s eta 0:00:06
   --------- ------------------------------ 3.9/16.1 MB 2.4 MB/s eta 0:00:06
   ----------- ---------------------------- 4.5/16.1 MB 2.4 MB/s eta 0:00:05
   ----------- ---------------------------- 4.7/16.1 MB 2.4 MB/s eta 0:00:05
   ------------- -------------------------- 5.2/16.1 MB 2.4 MB/s eta 0:00:05
   -------------- ------------------------- 5.8/16.1 MB 2.4 MB/s eta 0:00:05
   -------------- ------------------------- 6.0/16.1 MB 2.4 MB/s eta 0:00:05
   --------------- ------------------------ 6.3/16.1 MB 2.3 MB/s eta 0:00:05
   ---------------- ----------------------- 6.6/16.1 MB 2.2 MB/s eta 0:00:05
   ---------------- ----------------------- 6.8/16.1 MB 2.2 MB/s eta 0:00:05
   ----------------- ---------------------- 7.1/16.1 MB 2.1 MB/s eta 0:00:05
   ------------------ --------------------- 7.3/16.1 MB 2.0 MB/s eta 0:00:05
   ------------------ --------------------- 7.6/16.1 MB 2.0 MB/s eta 0:00:05
   -------------------- ------------------- 8.1/16.1 MB 2.0 MB/s eta 0:00:05
   -------------------- ------------------- 8.4/16.1 MB 1.9 MB/s eta 0:00:04
   --------------------- ------------------ 8.7/16.1 MB 1.9 MB/s eta 0:00:04
   ---------------------- ----------------- 8.9/16.1 MB 1.9 MB/s eta 0:00:04
   ----------------------- ---------------- 9.4/16.1 MB 1.9 MB/s eta 0:00:04
   ------------------------ --------------- 9.7/16.1 MB 1.9 MB/s eta 0:00:04
   ------------------------- -------------- 10.2/16.1 MB 1.9 MB/s eta 0:00:04
   -------------------------- ------------- 10.5/16.1 MB 1.9 MB/s eta 0:00:03
   --------------------------- ------------ 11.0/16.1 MB 1.9 MB/s eta 0:00:03
   ---------------------------- ----------- 11.5/16.1 MB 1.9 MB/s eta 0:00:03
   ----------------------------- ---------- 11.8/16.1 MB 1.9 MB/s eta 0:00:03
   ------------------------------ --------- 12.3/16.1 MB 1.9 MB/s eta 0:00:02
   ------------------------------- -------- 12.6/16.1 MB 1.9 MB/s eta 0:00:02
   ------------------------------- -------- 12.8/16.1 MB 1.9 MB/s eta 0:00:02
   -------------------------------- ------- 13.1/16.1 MB 1.9 MB/s eta 0:00:02
   --------------------------------- ------ 13.6/16.1 MB 1.9 MB/s eta 0:00:02
   ----------------------------------- ---- 14.2/16.1 MB 1.9 MB/s eta 0:00:02
   ----------------------------------- ---- 14.4/16.1 MB 1.9 MB/s eta 0:00:01
   ------------------------------------ --- 14.7/16.1 MB 1.9 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.1 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 1.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import mysql.connector

# Membuat koneksi ke MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="PS2[hana]"
)

# Membuat objek cursor untuk mengeksekusi kueri
cursor = connection.cursor()

try:
    # Menentukan perintah SQL (kueri)
    my_query = "SELECT * FROM hanatugas;"  # Ganti 'nama' dengan nama tabelmu

    # Mengeksekusi kueri
    cursor.execute(my_query)

    # Mengambil semua hasil kueri
    result = cursor.fetchall()

    # Menampilkan hasil kueri
    for row in result:
        print(row)

finally:
    # Menutup kursor dan koneksi
    cursor.close()
    connection.close()

('Hana;P;2024;155;15;Jakarta',)
('Jorji;L;2024;160;70;Tanggerang',)
('Arip;L;2024;170;60;Bekasi',)
('Satria;L;2024;170;30;Jakarta',)
('Fadhil;L;2024;170;40;Bekasi',)
('Zul;L;2024;170;45;Tanggerang',)
('Jonathan;L;2024;170;60;Tanggerang',)
('Yuda;L;2024;170;51;Jaksel',)
('Joe;P;2024;150;30;Jaktim',)
('Agnar;L;2024;165;50;Grogol',)
('Adit;L;2024;165;80;Jawa',)
('Kahfi;L;2024;165;70;Jambi',)
('Raziq;L;2024;165;60;Maluku',)
('Gusti;L;2024;165;13;Manado',)
('Zufar;L;2024;165;15;Timur Leste',)
('Didi;L;2024;165;56;Brumai',)
('Bela;L;2024;165;34;Bekasi',)
('Echa;P;2024;165;24;Bintaro',)
('Ratu;P;2024;159;10;Jaktim',)
('Razan;L;2024;170;20;Bekasi',)
('Santoso;L;2024;158;47;Depok',)
('Wibowo;L;2024;165;86;Bogor',)
('Saputra;L;2024;170;33;Cikarang',)
('Utomo;L;2024;155;12;Ciputat',)
('Kurniawan;L;2024;162;75;Serpong',)
('Handoko;L;2024;168;22;Bandung',)
('Nugroho;L;2024;159;90;Surabaya',)
('Wijayanto;L;2024;160;59;Medan',)
('Setiawan;L;2024;163;17;Makassar',)
('Mahardika;L;2024;167;64;Denpasar ',)

In [22]:
import pandas as pd

# Buat DataFrame awal dari hasil query (result)
# Nama kolom diambil dari cursor.description, sehingga df awal memiliki 1 kolom:
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])
print("Columns awal:", df.columns)

# Jika hanya ada satu kolom dan mengandung delimiter ';', lakukan split agar data terpisah
if len(df.columns) == 1 and ';' in df.columns[0]:
    df = df[df.columns[0]].str.split(';', expand=True)

# Ganti nama kolom secara manual
df.columns = ["Nama", "Gender", "Angkatan", "Tinggi Badan", "Waktu Belajar", "Wilayah Tinggal"]

# Tampilkan kolom dan data setelah pergantian nama
print("Columns baru:", df.columns)
print("\nData:")
print(df)
# Filter data untuk baris dengan Gender 'Pria'
df_filtered = df[df['Gender'] == 'Pria']

# Menghitung jumlah baris data yang memenuhi filter
jumlah_pria = df_filtered.shape[0]

print("Jumlah data Pria:", jumlah_pria)

Columns awal: Index(['Nama;Gender;Angkatan;Tinggi Badan;Waktu Belajar;Wilayah Tinggal'], dtype='object')
Columns baru: Index(['Nama', 'Gender', 'Angkatan', 'Tinggi Badan', 'Waktu Belajar',
       'Wilayah Tinggal'],
      dtype='object')

Data:
         Nama Gender Angkatan Tinggi Badan Waktu Belajar Wilayah Tinggal
0        Hana      P     2024          155            15         Jakarta
1       Jorji      L     2024          160            70      Tanggerang
2        Arip      L     2024          170            60          Bekasi
3      Satria      L     2024          170            30         Jakarta
4      Fadhil      L     2024          170            40          Bekasi
5         Zul      L     2024          170            45      Tanggerang
6    Jonathan      L     2024          170            60      Tanggerang
7        Yuda      L     2024          170            51          Jaksel
8         Joe      P     2024          150            30          Jaktim
9       Agnar      L     2024          165            50          Grogol
10       Adit      L     2024          165            80            Jawa
11      Kahfi      L     2024          165            70           Jambi
12      Raziq      L     2024          165            60          Maluku
13      Gusti      L     2024          165            13          Manado
14      Zufar      L     2024          165            15     Timur Leste
15       Didi      L     2024          165            56          Brumai
16       Bela      L     2024          165            34          Bekasi
17       Echa      P     2024          165            24         Bintaro
18       Ratu      P     2024          159            10          Jaktim
19      Razan      L     2024          170            20          Bekasi
20    Santoso      L     2024          158            47           Depok
21     Wibowo      L     2024          165            86           Bogor
22    Saputra      L     2024          170            33        Cikarang
23      Utomo      L     2024          155            12         Ciputat
24  Kurniawan      L     2024          162            75         Serpong
25    Handoko      L     2024          168            22         Bandung
26    Nugroho      L     2024          159            90        Surabaya
27  Wijayanto      L     2024          160            59           Medan
28   Setiawan      L     2024          163            17        Makassar
29  Mahardika      L     2024          167            64       Denpasar

In [28]:
# Filter data untuk baris dengan Gender 'Pria'
df_filtered = df[df['Gender'] == 'L']

# Menghitung jumlah baris data yang memenuhi filter
L = df_filtered.shape[0]

print("Jumlah data Pria:", L)

Jumlah data Pria: 26

In [30]:
import pandas as pd

# Mengonversi hasil kueri ke DataFrame Pandas
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

# Filter data berdasarkan kolom 'Gender' yang bernilai 'L'
df_filtered = df[df['Gender'] == 'L']

# Menampilkan hasil filter
print(df_filtered)

KeyError: 'Gender'

In [34]:
#MATRIKS
import numpy as np
cells = [3, 15, -27, 38]
r_nama = ["R1", "R2"]
c_nama = ["C1", "C2"]
hana_matrix = np.matrix(cells).reshape(2, 2)
print(hana_matrix)

[[  3  15]
 [-27  38]]

In [40]:
import pandas as pd
import numpy as np

hana1 = [1, 2, 3, 4]
hana2 = ["red", "white", "red", np.nan]  # Menggunakan np.nan untuk merepresentasikan NA
hana3 = [True, True, True, False]

dataku = pd.DataFrame({'ID': hana1, 'Color': hana2, 'Passed': hana3})
print(dataku)

   ID  Color  Passed
0   1    red    True
1   2  white    True
2   3    red    True
3   4    NaN   False

In [42]:
import pandas as pd

data_hana = pd.DataFrame({'id': list('abcdefghij'), 'x': list(range(1, 11)), 'y': list(range(11, 21))})
print(data_hana)

  id   x   y
0  a   1  11
1  b   2  12
2  c   3  13
3  d   4  14
4  e   5  15
5  f   6  16
6  g   7  17
7  h   8  18
8  i   9  19
9  j  10  20